{% extends "PlatiumTrophyTracker_app/base_template.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game List</title>
</head>
<body>
    <h1>Game List</h1>
    <ul>
        {% for game in games %}
            <li>
                <strong>{{ game.name }}</strong><br>
                Link: <a href="https://www.truetrophies.com{{ game.link }}">{{ game.name }}</a><br>
                <img src="https://www.truetrophies.com{{ game.image_url }}" alt="Game Image"><br>
                Completion Time: {{ game.completion_time }}<br>
                Rating: {{ game.rating }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}