{% extends "PlatiumTrophyTracker_app/base_template.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>List of Trophy Trackers</title>
</head>
<body>
    <h1>List of Trophy Trackers</h1>
    <table>
        <thead>
            <tr>
                <th>Game Title</th> 
                <th>User Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for trophy_tracker in trophy_trackers %}
            <tr>
                <td>{{ trophy_tracker.game_title }}</td>
                <td>{{ trophy_tracker.userAccount.user_name }}</td>
                <td>
                    <a href="{% url 'trophy_tracker_detail' trophy_tracker.pk %}">
                        View Trophy Tracker
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
