{% extends "PlatiumTrophyTracker_app/base_template.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>User Account Detail</title>
</head>
<body>
    <h1>User Account Detail</h1>
    <p><strong>User Name:</strong> {{ user_account.user_name }}</p>
    <p><strong>Is Active:</strong> {% if user_account.is_active %}Yes{% else %}No{% endif %}</p>
    <p><strong>About:</strong> {{ user_account.about }}</p>

    <h2>Trophy Trackers</h2>
    {% if trophy_trackers %}
        <ul>
            {% for trophy_tracker in trophy_trackers %}
                <li>
                    {{ trophy_tracker.game_title }}
                    <!-- Add more details of the trophy tracker as needed -->
                    <a href="{% url 'trophy_tracker_detail' trophy_tracker.pk %}">
                        <button style="padding: 5px 10px; background-color: #30D5C8; color: #0000000; border: none; border-radius: 10px; cursor: pointer;">View Trophy Tracker</button>
                    </a>
                    <!-- Add update button -->
                    <a href="{% url 'update_trophytracker' trophy_tracker.pk %}">
                        <button style="padding: 5px 10px; background-color: #BF9B30; color: #000000; border: none; border-radius: 10px; cursor: pointer;">Update</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No trophy trackers found.</p>
    {% endif %}

    <!-- Button to create a new Trophy Tracker -->
    <a href="{% url 'create_trophytracker' %}">
        <button style="padding: 5px 10px; background-color: #BF9B30; color: #000000; border: none; border-radius: 10px; cursor: pointer;">Create Trophy Tracker</button>
    </a>
</body>
</html>
{% endblock %}