{% extends "PlatiumTrophyTracker_app/base_template.html" %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <div class="col-md-6">
                <label for="id_username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="id_username" name="username" required>
            </div>
        </div>
        <div class="mb-3">
            <div class="col-md-6">
                <label for="id_password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="id_password" name="password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
